PLEASE SIGN IN WITH ONE OF YOUR EXISTING THIRD PART ACCOUNTS. OR, SIGN UP FOR A ACCOUNT AND SIGN IN BELOW:
<ul class="signin_list">
  <li><a href="{% url facebook_login %}" title="Sign in with Facebook">Facebook</a></li>
  <li><a href="{% url twitter_login %}" title="Sign in with Twitter">Twitter</a></li>
  <li><a href="{% url google_login %}" title="Sign in with Google +">Google +</a></li>
</ul>

<ul class="signup_list">
  <li><a href="{% url account_signup %}" class="register" title="Register">Register</a></li>
</ul>

<form id="form_signin" method="POST" action="{% url account_login %}">
  {% csrf_token %}
  <div>
  <legend>SIGN IN</legend>
  <fieldset>
    <!-- TODO display errors -->
    {{ form.as_p }}

    <p class="clearfix"><input type="submit" id="submit_signin" value="send" class="submit_form"></p>
    <p class="clearfix forgot_signin"><label><a href="{% url account_reset_password %}">FORGOT PASSWORD?</a></label></p>
  </fieldset>
</div>
</form>
