{% extends "base.html" %}

{% block title %}{{ block.super }} - Login or Register{% endblock title %}

{% block body-id %}login-page{% endblock body-id %}

{% block content_middle %}
<ul id="wrapper">
  <li id="login">
    <div class="container">
      <h3>LOGIN</h3>
        PLEASE SIGN IN WITH ONE OF YOUR EXISTING THIRD PART ACCOUNTS. OR, SIGN UP FOR A ACCOUNT AND SIGN IN BELOW:
        <ul class="signin_list">
          <li><a href="{% url facebook_login %}" title="Sign in with Facebook">Facebook</a></li>
          <li><a href="{% url twitter_login %}" title="Sign in with Twitter">Twitter</a></li>
          <li><a href="{% url google_login %}" title="Sign in with Google +">Google +</a></li>
        </ul>

        <ul class="signup_list">
          <li><a href="{% url account_signup %}" title="Register">Or Register</a></li>
        </ul>
      <div class="content">
        {% include "account/login_partial.html" %}
      </div>
    </div>
  </li>
</ul>
{% endblock content_middle %}
