{% extends "base.html" %}
{% block title %}{{ block.super }} - Add a Quote!{% endblock title %}

{% block content_middle %}
    <ul id="wrapper">
      <li id="your_id">
      	<div class="container">
      		<h3>YOUR ID</h3>
          <div class="content">
          	SED VITAE EUISMOD NISI. PHASELLUS UT VELIT AC TURPIS SCELERISQUE FAUCIBUS.
            <form id="form_your_id" method="POST" action="">
              {% csrf_token %}
            	<legend></legend>
            	<fieldset>
								<p>
                	<label for="id_body">*Body:</label> <textarea id="id_body" rows="10" cols="40" name="body" class="input_signin"></textarea>
                </p>
                <p>
                	<label for="id_author">*Author:</label> <input type="text" name="author" id="id_author" class="input_signin"/>
                    {{  form.author.errors }}
                </p>
                <p>
                  <label for="id_language">*Language:</label>
                  {{ form.language }}
                </p>
                <p>
                	<label for="id_source">*Source:</label> <input id="id_source" type="text" name="source" maxlength="200" class="input_signin" />
                </p>
                <p><label for="id_tags">Tags:</label> <input type="text" name="tags" id="id_tags" class="input_signin" placeholder="A comma-separated list of tags." /> <br /><span class="helptext"></span></p>
                    <input type="submit" value="Submit" class="submit_form" />
              </fieldset>
            </form>
          </div>
        </div>
        </li>
      </ul>

{% endblock content_middle %}

