{% extends "base.html" %}

{% load facebook_tags %}
{% load twitter_tags %}
{% load google_tags %}

{% block head %}
    {% opengraph_tag title=quote type="citationneeded:quote" url=request.get_full_path %}
{% endblock head %}

{% block body-id %}single{% endblock body-id %}
{% block content_middle %}
{% endblock content_middle %}

{% block right-column %}
    {% with object as quote %}

    {% include "quotes/quote.html" %}

    {% endwith  %}
{% endblock right-column %}

{% block main-quote %}
{% endblock main-quote %}

{% block top-nav %}
<ul class="single">
    <li><a href="/" title="Home">Home</a></li>
</ul>
{% endblock top-nav %}
