<div class="quote" data-id="{{ quote.id }}">
  <h3><a href="{{ quote.get_absolute_url }}" title="{{quote.title}}">ID {{ quote.pk }}</a></h3>
  {% if quote.title %}
  <h4><a href="{{ quote.get_absolute_url }}" title="{{quote.title}}">{{ quote.title }}</a></h3>
  {% endif %}
  <div class="dixit_text">
    {% if is_left_column %}
    {{ quote.excerpt|linebreaks }}
    {% else %}
    {{ quote.body|linebreaks }}
    {% endif %}
  </div>
  <div class="dixit_details">
      <p><strong>BY:</strong> {{ quote.author|default:"Anonymous" }}</p>
      {% if quote.source %}
      <p><strong>SOURCE:</strong> <a href="{{ quote.source }}">{{ quote.source|truncatechars:40 }}</a></p>
      {% endif %}
      <p><strong>TAG:</strong> {{ quote.tags.all|join:', ' }}</p>
      {% with url=quote.get_full_url description=quote.body pk=quote.pk %}
        {% include "share_partial.html" %}
      {% endwith %}

      <p class="vote-count"><strong>VOTES:</strong> <span class="votes">{{ quote.star_count }}</span></p>
  </div>
</div>
