/* =============================================================================
   HTML5 Boilerplate CSS: h5bp.com/css
   ========================================================================== */

article, aside, details, figcaption, figure, footer, header, hgroup, nav, section { display: block; }
audio, canvas, video { display: inline-block; *display: inline; *zoom: 1; }
audio:not([controls]) { display: none; }
[hidden] { display: none; }

html { font-size: 100%; -webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%; }
html, button, input, select, textarea { font-family: sans-serif; color: #222; }
body { margin: 0; font-size: 1em; line-height: 1.4; }

::-moz-selection { background: #fe57a1; color: #fff; text-shadow: none; }
::selection { background: #fe57a1; color: #fff; text-shadow: none; }

a { color: #00e; }
a:visited { color: #551a8b; }
a:hover { color: #06e; }
a:focus { outline: thin dotted; }
a:hover, a:active { outline: 0; }

abbr[title] { border-bottom: 1px dotted; }
b, strong { font-weight: bold; }
blockquote { margin: 1em 40px; }
dfn { font-style: italic; }
hr { display: block; height: 1px; border: 0; border-top: 1px solid #ccc; margin: 1em 0; padding: 0; }
ins { background: #ff9; color: #000; text-decoration: none; }
mark { background: #ff0; color: #000; font-style: italic; font-weight: bold; }
pre, code, kbd, samp { font-family: monospace, serif; _font-family: 'courier new', monospace; font-size: 1em; }
pre { white-space: pre; white-space: pre-wrap; word-wrap: break-word; }
q { quotes: none; }
q:before, q:after { content: ""; content: none; }
small { font-size: 85%; }

sub, sup { font-size: 75%; line-height: 0; position: relative; vertical-align: baseline; }
sup { top: -0.5em; }
sub { bottom: -0.25em; }

ul, ol { margin: 1em 0; padding: 0 0 0 40px; }
dd { margin: 0 0 0 40px; }
nav ul, nav ol { list-style: none; list-style-image: none; margin: 0; padding: 0; }

img { border: 0; -ms-interpolation-mode: bicubic; vertical-align: middle; }

svg:not(:root) { overflow: hidden; }

figure { margin: 0; }

form { margin: 0; }
fieldset { border: 0; margin: 0; padding: 0; }
label { cursor: pointer; }
legend { border: 0; *margin-left: -7px; padding: 0; white-space: normal; }
button, input, select, textarea { font-size: 100%; margin: 0; vertical-align: baseline; *vertical-align: middle; }
button, input { line-height: normal; }
button, input[type="button"], input[type="reset"], input[type="submit"] { cursor: pointer; -webkit-appearance: button; *overflow: visible; }
button[disabled], input[disabled] { cursor: default; }
input[type="checkbox"], input[type="radio"] { box-sizing: border-box; padding: 0; *width: 13px; *height: 13px; }
input[type="search"] { -webkit-appearance: textfield; -moz-box-sizing: content-box; -webkit-box-sizing: content-box; box-sizing: content-box; }
input[type="search"]::-webkit-search-decoration, input[type="search"]::-webkit-search-cancel-button { -webkit-appearance: none; }
button::-moz-focus-inner, input::-moz-focus-inner { border: 0; padding: 0; }
textarea { overflow: auto; vertical-align: top; resize: vertical; }
input:valid, textarea:valid {  }
input:invalid, textarea:invalid { background-color: #f0dddd; }

table { border-collapse: collapse; border-spacing: 0; }
td { vertical-align: top; }

.chromeframe { margin: 0.2em 0; background: #ccc; color: black; padding: 0.2em 0; }



/* ===== Primary Styles ========================================================
   Author: Roll Multimedia Design
   ========================================================================== */
html, body{width:100%; height:100%; background:#FFF;}
body{ font-family: Helvetica, "Arial Black", Arial,  Gadget, sans-serif; text-transform:uppercase;font-size:14px; background:url(../img/bg_img_landscape.png) no-repeat center center; background-size:cover;}
h1, h2, h3, h4, h5, h6{font-size:14px;margin:0; padding:0;font-weight:normal; letter-spacing:-4px;}
ul, li{margin:0; padding:0;}
header{position:absolute;left:0; top:0;width:40%;z-index:10}
header hgroup{}
header h1{margin-left:40px;font-size:100px;margin-top:29px;line-height:90px;color:#FF3399; font-weight: normal;
letter-spacing: -7px;}
header h1 a { color:black; text-decoration: none;}
header h1 a:visited{ color:black;}
header h2{font-size: 14px;
font-weight: normal;
margin-top: -174px;
margin-left: 267px;
line-height: 15px;width:210px;letter-spacing:0;}
div[role=main]{height:100%;}
div[role=main] > div{float:left;height:100%;position:relative;}
#left_column{width:40%;min-width:432px;/* background:url(../img/bg_img.png) no-repeat center center; background-size:cover;*/}
#left_column .container{padding:40px;}
#left_column .container nav{margin-top: 129px;
margin-left: 229px;
font-size: 12px;position: relative;
z-index: 100;}
#left_column .container nav ul{list-style-type:none; font-weight:bold;}
#left_column .container nav ul a{color:#000; text-decoration:none;
-moz-transition: color 0.4s ease-in; /* Firefox 4 */
-webkit-transition: color 0.4s ease-in; /* Safari and Chrome */
-o-transition: color 0.4s ease-in; /* Opera */
transition: color 0.4s ease-in;}
#left_column .container nav ul a:hover{color:#FF3399;}
#left_column .container nav ul a.current{color:#FF3399;}
#left_column .main_dixit{position:absolute; bottom:40px; margin-top:150px;width:60%;min-width:432px;/*border-left: 1px solid #000;padding-left: 20px;*/}
#left_column .main_dixit h3{font-size: 70px; line-height: 1;letter-spacing:-9px;}
#left_column .main_dixit h3 a { text-decoration: none; color: black; }
#left_column .main_dixit h3 a:visited { text-decoration: none; color: black; }
#left_column .main_dixit h4 a{font-size: 25px;letter-spacing: -1px;text-decoration: none;color: #FF3399;}
#left_column .dixit_details{color:#666; font-size: 14px;width:60%;min-width:432px;}

.dixit_details{color:#666;min-width:216px;}
.dixit_details p{margin:0;}
.dixit_details a{ text-decoration: none; color: #666; border: 1px solid #666; font-weight:bold; padding:0 2px;line-height:12px; }
.dixit_details a:hover, .dixit_details a:visited { text-decoration: none; color: #999; border: 1px solid #999; font-weight:bold; padding:0 2px; }
/*.dixit_details a:hover { color: #00E; }*/
.dixit_text{ font-size:22px;margin-bottom:40px;line-height:22px;}

#middle_column .container, #right_column .quote{padding:20px;}
#right_column .quote{height:100%;}
#middle_column{width:30%; background:/*#FBFBFB*/ rgba(251,251,251,0.8);overflow:hidden;}
#middle_column ul#wrapper{list-style-type:none; width:400%;height:100%; }
#middle_column ul#wrapper li{width:25%;height:100%; float:left;}
#middle_column ul#wrapper h3{font-size:40px; margin-top:12px;line-height:40px;margin-bottom:20px;}
#middle_column #about{float:left;position:relative;font-size:11px;}
#middle_column #about .view {position:absolute; bottom: 80px;left:20px;}
#middle_column #about .view a{text-decoration:none;color:#FF3399; font-weiht:bold; font-size:25px; letter-spacing:-2px;}
#middle_column .signin_list{width:100%;list-style-type:none;margin-top:20px;}
#middle_column .signin_list li{margin:0 0 4px 0;width:auto!important; float: none!important; display: block;}
#middle_column .signin_list li a{padding:0 1px; line-height:12px; border:1px solid #000; color:#000;
    text-decoration:none;font-weight:bold; }
#middle_column .signin_list li a:hover{border:1px solid #666; color:#666;}

#middle_column .signup_list{width:100%;list-style-type:none;margin-top:20px;}
#middle_column .signup_list li{margin:0 0 4px 0;width:auto!important; float: none!important; display: block;}
#middle_column .signup_list li a{padding:0 1px; line-height:12px; border:1px solid #666; color:#666; text-decoration:none;font-weight:bold;}
#middle_column .signup_list li a:hover{border:1px solid #666; color:#666;}

#right_column{width:30%; background:/*#F1F1F1*/ rgba(251,251,251,0.8);overflow:hidden;position: absolute;right:0;
-webkit-transition: 0.5s linear all;
-moz-transition: 0.5s linear all;
-ms-transition: 0.5s linear all;
-o-transition: 0.5s linear all;
transition: 0.5s linear all; }
#home #right_column:hover{ width:56%; box-shadow: 3px 0px 11px black; }
#home #right_column:hover ul.wrapper{ }
#home #right_column.mini:hover{ width:30%; box-shadow: none;}
#home #right_column.mini:hover ul.wrapper{width:100%; }
#right_column ul.wrapper{height:100%;list-style-type:none; }
#right_column ul.wrapper li{height:100%;}
#right_column h3{font-size: 40px;margin-top: 12px;line-height: 40px;margin-bottom: 20px;}
#right_column h3 a{color: black; text-decoration: none;}
#right_column h3 a:visited{color: black; }
#right_column h4 a{font-size: 25px;letter-spacing: -1px;text-decoration: none;color: #FF3399;}
.dixit_text.nano { width: 80%; height: 50%; padding-right: 20%;  }
/*.dixit_text.nano .content { padding: 0 20% 0 0; }*/

.prev_next{position:fixed; bottom:40px; margin-left:20px;font-size:14px; font-weight:bold;}
.prev_next a{display:block; float:left; clear:both; border:1px solid #000;color:#000; text-decoration:none;padding: 0 1px;margin-top: 4px;padding-right: 16px;line-height: 14px;}
/*.prev_next a.disabled{border:1px solid #CCC;color:#CCC; }*/
.prev_next a.disabled,.prev_next a:hover{border:1px solid #666;color:#666; }

#middle_column .prev_next a.prev{ background:url('../img/prev_next_middle.png') no-repeat right bottom}
#middle_column .prev_next a.prev.disabled, #middle_column .prev_next a.prev:hover{ background:url('../img/prev_next_middle.png') no-repeat right center;}
/*#middle_column .prev_next a.prev:hover{ background:url('../img/prev_next_middle.png') no-repeat right top;}*/
#middle_column .prev_next a.next{ background:url('../img/prev_next_middle.png') no-repeat 38px bottom}
#middle_column .prev_next a.next.disabled, #middle_column .prev_next a.next:hover{  background:url('../img/prev_next_middle.png') no-repeat 38px center;}
/*#middle_column .prev_next a.next:hover{background:url('../img/prev_next_middle.png') no-repeat 38px top;}*/

#form_signin {margin-top: 40px;}
#form_signin p{margin:0 0 4px 0;font-size:12px;}
#form_signin legend{font-size: 30px;margin-top: 12px;line-height: 40px;margin-bottom: 20px;}
#form_signin fieldset{border:none;}
#form_signin label{display:block; float:left; text-align:right; width:40%;font-weight:bold; margin-right:10px;}
#form_signin .checkbox_signin{background:none; border:1px solid #000;width:15px; height:15px;}
#form_signin .forgot_signin{margin-top:-20px;}
#form_signin .forgot_signin a{color:#666;text-decoration:none;font-weight:bold;}
.submit_form{float: right;
border: 1px solid black;
padding: 0px 16px 0 1px;
background: url('../img/submit.png') no-repeat right center;
font-family: Helvetica,"Arial Black",Arial,Gadget,sans-serif;
text-transform: uppercase;
font-size: 14px;
font-weight: bold;width: auto;
margin-right: 29px;}
#form_register {margin-top: 40px;}
#form_register p{margin:0 0 4px 0;font-size:12px;}
#form_register legend{font-size: 30px;margin-top: 12px;line-height: 40px;margin-bottom: 20px;}
#form_register fieldset{border:none;}
#form_register label{display:block; float:left; text-align:right; width:40%;font-weight:bold; margin-right:10px;}
input, textarea, .custom-select {
font-size:10px;
font-weight:bold;
width: 50%;
border: 1px solid black;
background: none;
font-family: Helvetica,"Arial Black",Arial,Gadget,sans-serif;
text-transform: uppercase;
padding: 0 6px;
}


#form_your_id {margin-top: 40px;}
#form_your_id ul{width:100%;list-style-type:none;}
#form_your_id p{margin:0 0 10px 0;font-size:12px;position:relative;}
#form_your_id legend{font-size: 30px;margin-top: 12px;line-height: 40px;margin-bottom: 20px;}
#form_your_id fieldset{border:none;}
#form_your_id label{display:block; float:left; text-align:right; width:40%;font-weight:bold; margin-right:10px;}
#form_your_id .errorlist{font-size:10px; color:#666;text-align:left; width:100%;font-weight:bold; margin-right:10px;}
#form_your_id .errorlist li{width:100%!important;}
#form_your_id .helptext{font-weight:bold;}
#form_your_id .submit_form{margin-right:19px;}

#right_column .prev_next a.prev{ background:url('../img/prev_next_right.png') no-repeat 44px 3px}
#right_column .prev_next a.prev.disabled, #right_column .prev_next a.prev:hover{ background:url('../img/prev_next_right.png') no-repeat -16px 3px;}
#right_column .prev_next a.next{ background:url('../img/prev_next_right.png') no-repeat 44px -17px}
#right_column .prev_next a.next.disabled, #right_column .prev_next a.next:hover{  background:url('../img/prev_next_right.png') no-repeat -16px -17px;}
#right_column .main_dixit h4 a{font-size: 20px;letter-spacing: -1px;text-decoration: none;color: #FF3399;}

.share{margin:20px 0 4px 0; overflow: hidden;}
.share a, .vote a{float:left; margin-right:3px;color:#999;
    border:1px solid #999; padding:0px 20px 0px 1px; line-height:14px;
    text-decoration:none;font-weight:bold; background:url('../img/share.png') no-repeat right 0px; }
.share ul{list-style-type:none;}
.share li{display:inline;}
.share li a{float:left; display:block; width:15px; height:15px;font-size:1px; text-indent:-9999px;margin-right:3px; padding:0;border:none;}
.share li a.share_fb{background:#999 url('../img/social.png') no-repeat left top;}
.share li a.share_fb:hover{background:#FE57A1 url('../img/social.png') no-repeat left top;}
.share li a.share_tw{background:#999 url('../img/social.png') no-repeat center top;}
.share li a.share_tw:hover{background:#FE57A1 url('../img/social.png') no-repeat center top;}
.share li a.share_gp{background:#999 url('../img/social.png') no-repeat right top;}
.share li a.share_gp:hover{background:#FE57A1 url('../img/social.png') no-repeat right top;}
.vote, .vote-count { display: inline-block; }
.vote a { float: none; background:url('../img/star_mini.png') no-repeat right 0px;}
.liked.vote a {background:url('../img/star_mini_voted.png') no-repeat right 0px;}
.vote a:hover { color: black; }

#home #login .content > form { display: none; }

#single #middle_column, #page-404 #middle_column { display: none; }
#single #right_column, #page-404 #right_column { width: 50%; }

#page-404 #right_column h2 { font-size: 60px; margin: 20px; }


#add-quote #middle_column { width: 50%; }
#add-quote #right_column { display: none; }

#login-page #middle_column { width: 60%; }
#login-page #middle_column #wrapper{ width: 50%; }
#login-page #middle_column #wrapper li{ width:100%; }
#login-page #right_column { display: none; }

#signup-page #middle_column { width: 60%; }
#signup-page #middle_column #wrapper{ width: 50%; }
#signup-page #middle_column #wrapper li{ width:100%; }
#signup-page #right_column { display: none; }


.custom-select {
    position: relative;
    display: inline-block;
}
.custom-select select {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 10;
    opacity: 0;
    width: 100%;
    height: 100%;
    -webkit-appearance: listbox;
}

/** initial setup **/
.nano {
  position : relative;
  width    : 100%;
  height   : 100%;
  overflow : hidden;
}
.nano .content {
  position      : absolute;
  overflow      : scroll;
  overflow-x    : hidden;
  top           : 0;
  right         : 0;
  bottom        : 0;
  left          : 0;
}
.nano .content:focus {
  outline: thin dotted;
}
.nano .content::-webkit-scrollbar {
  visibility: hidden;
}
.has-scrollbar .content::-webkit-scrollbar {
  visibility: visible;
}
.nano > .pane {
  background : rgba(0,0,0,.25);
  position   : absolute;
  width      : 10px;
  right      : 0;
  top        : 0;
  bottom     : 0;
  visibility : hidden\9; /* Target only IE7 and IE8 with this hack */
  opacity    : .01;
  -webkit-transition    : .2s;
  -moz-transition       : .2s;
  -o-transition         : .2s;
  transition            : .2s;
  -moz-border-radius    : 5px;
  -webkit-border-radius : 5px;
  border-radius         : 5px;
}
.nano > .pane > .slider {
  background: rgba(0,0,0,.5);
  position              : relative;
  margin                : 0 1px;
  -moz-border-radius    : 3px;
  -webkit-border-radius : 3px;
  border-radius         : 3px;
}
.nano:hover > .pane, .pane.active, .pane.flashed {
  visibility : visible\9; /* Target only IE7 and IE8 with this hack */
  opacity    : 0.99;
}


/* =============================================================================
   Media Queries
   ========================================================================== */

@media only screen and (min-width: 35em) {
	/* Style adjustments for viewports that meet the condition */
}

/* =============================================================================
   Non-Semantic Helper Classes
   ========================================================================== */

.ir { display: block; border: 0; text-indent: -999em; overflow: hidden; background-color: transparent; background-repeat: no-repeat; text-align: left; direction: ltr; *line-height: 0; }
.ir br { display: none; }
.hidden { display: none !important; visibility: hidden; }
.visuallyhidden { border: 0; clip: rect(0 0 0 0); height: 1px; margin: -1px; overflow: hidden; padding: 0; position: absolute; width: 1px; }
.visuallyhidden.focusable:active, .visuallyhidden.focusable:focus { clip: auto; height: auto; margin: 0; overflow: visible; position: static; width: auto; }
.invisible { visibility: hidden; }
.clearfix:before, .clearfix:after { content: ""; display: table; }
.clearfix:after { clear: both; }
.clearfix { *zoom: 1; }

/* =============================================================================
   Print Styles
   ========================================================================== */

@media print {
  * { background: transparent !important; color: black !important; box-shadow:none !important; text-shadow: none !important; filter:none !important; -ms-filter: none !important; } /* Black prints faster: h5bp.com/s */
  a, a:visited { text-decoration: underline; }
  a[href]:after { content: " (" attr(href) ")"; }
  abbr[title]:after { content: " (" attr(title) ")"; }
  .ir a:after, a[href^="javascript:"]:after, a[href^="#"]:after { content: ""; }  /* Don't show links for images, or javascript/internal links */
  pre, blockquote { border: 1px solid #999; page-break-inside: avoid; }
  thead { display: table-header-group; } /* h5bp.com/t */
  tr, img { page-break-inside: avoid; }
  img { max-width: 100% !important; }
  @page { margin: 0.5cm; }
  p, h2, h3 { orphans: 3; widows: 3; }
  h2, h3 { page-break-after: avoid; }
}
