{% spaceless %}
{% load compress %}
{% load chunks %}
{% load quotes_utils %}
{% endspaceless %}<!doctype html>
<!--[if lt IE 7]> <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="en"> <![endif]-->
<!--[if IE 7]>    <html class="no-js lt-ie9 lt-ie8" lang="en"> <![endif]-->
<!--[if IE 8]>    <html class="no-js lt-ie9" lang="en"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"> <!--<![endif]-->
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

    <title>{% block title %}Ipse Dixit{% endblock title %}</title>
    <meta name="description" content="">
    <meta name="author" content="">

    <meta name="viewport" content="width=device-width">

    {% compress css %}
    <link rel="stylesheet" href="{{ STATIC_URL }}css/main.css">
    {% endcompress %}

    <script src="{{ STATIC_URL }}js/libs/modernizr.2.6.1.js"></script>

    {% block head %}{% endblock head %}
</head>
<body id="{% block body-id %}home{% endblock %}" class="{% block body-class %}default{% endblock %}">
<!--[if lt IE 7]><p class=chromeframe>Your browser is <em>ancient!</em> <a href="http://browsehappy.com/">Upgrade to a different browser</a> or <a href="http://www.google.com/chromeframe/?redirect=true">install Google Chrome Frame</a> to experience this site.</p><![endif]-->
    {% block body %}

    <header>
        <hgroup>
        <h1><a href="/" title="Ipse dixit"><span>Ipse</span><br /><span>dixit</span></a></h1>
        <h2>AN EXPERIMENTAL PROJECT. <br>{% chunk "tagline" %}</h2>
      </hgroup>
    </header>
    <div role="main" class="clearfix">
      <div id="left_column">
        <div class="container">
            <nav>
            <ul>
                <li><a href="#" title="About the project" class="about-the-project">About the project</a></li>
                <li><a href="#" title="Write your dixit" class="write-your-dixit">Write your dixit</a></li>
            </ul>
          </nav>
          {% block main-quote %}
          <div class="main_dixit">
            {% get_home_quote as quote %}
            {% include "quotes/quote.html" %}
          </div>
          {% endblock main-quote %}
        </div>
      </div>
      <div id="middle_column">
        {% block content_middle %}
        {% include "account/login_partial.html" %}
        {% endblock content_middle %}
      </div>
      <div id="right_column">
        {% block right-column %}
        {% endblock right-column %}
      </div>
    </div>

    {% endblock body %}

    {% block end-body %}
    {% endblock end-body %}

    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.0/jquery.min.js"></script>
    <script src="{{ STATIC_URL }}js/jquery.customSelect.js"></script>
    <script src="{{ STATIC_URL }}js/main.js"></script>

    <script>
      window.fbAsyncInit = function() {
        FB.init({
          appId: '{% get_facebook_app_id %}',
          status: true,
          cookie: true
        });
      };

      (function(d){
         var js, id = 'facebook-jssdk', ref = d.getElementsByTagName('script')[0];
         if (d.getElementById(id)) {return;}
         js = d.createElement('script'); js.id = id; js.async = true;
         js.src = "//connect.facebook.net/en_US/all.js";
         ref.parentNode.insertBefore(js, ref);
       }(document));
    </script>
</body>
</html>
