{% extends "base.html" %}
{% load chunks %}
{% load quotes_utils %}
{% block content_middle %}
<ul id="wrapper">
  <li id="about">
    <div class="container">
      <h3>About <br>the project</h3>
      <div class="content">
        {% chunk "about" %}
      </div>
    </div>
    <div class="view">
      <a id="write-your-dixit" href="#" title="Write your Dixit">Write your Dixit</a>
    </div>
  </li>

  {% if not user.is_authenticated %}
  <li id="login">
    <div class="container">
      <h3>LOGIN</h3>
      <div class="content">
        PLEASE SIGN IN WITH ONE OF YOUR EXISTING THIRD PART ACCOUNTS. OR, SIGN UP FOR A LOCALHOST ACCOUNT AND SIGN IN BELOW:
        <ul class="signin_list">
          <li><a href="{% url facebook_login %}" title="Sign in with Facebook">Facebook</a></li>
          <li><a href="{% url twitter_login %}" title="Sign in with Twitter">Twitter</a></li>
          <li><a href="{% url google_login %}" title="Sign in with Google +">Google +</a></li>
        </ul>

        <ul class="signup_list">
          <li><a href="#" class="login" title="Sign in">Sign in</a></li>
          <li><a href="#" class="register" title="Register">Register</a></li>
        </ul>

        {% with login_form as form %}
          {% include "account/login_partial.html" %}
        {% endwith %}

        {% with signup_form as form %}
          {% include "account/register_partial.html" %}
        {% endwith %}

      </div>
    </div>
  </li>
  {% else %}
  <li id="your_id">
    {% with add_quote_form as form %}
      {% include "quotes/quote_form_partial.html" %}
    {% endwith %}
  </li>
  {% endif %}
</ul>

<div class="prev_next">
  <a href="#" title="prev" class="prev disabled">prev</a>
  <a href="#" title="next" class="next">next</a>
</div>

{% endblock content_middle %}

{% block right-column %}
  <ul class="wrapper" style="height:100%">
    <li>
      {% get_last_quote_by_index 1 as quote %}
      {% include "quotes/quote.html" %}
    </li>
    {% get_last_quote_by_index 2 as quote %}

    {% if quote %}
    <li>
      {% include "quotes/quote.html" %}
    </li>
    {% endif %}
 </ul>
  <div class="prev_next">
    <a href="#" title="prev" class="prev disabled">prev</a>
    <a href="#" title="next" class="next">next</a>
  </div>
</div>

<script>
  window.prevQuoteUrl = '{% url get-prev-quote %}';
</script>

{% endblock right-column %}
