{% load quotes_utils %}
<div class="share" data-url="{{ url }}" data-description="{{ description }}">
  <a href="{{ url }}" title="share">Share</a>
  <ul class="share_buttons">
      <li><a href="#" class="share_fb">Facebook</a></li>
      <li><a href="#" class="share_tw">Twitter</a></li>
      <li><a href="#" class="share_gp">GooglePlus</a></li>
  </ul>
</div>

{% if user.is_authenticated %}
{% get_starred as liked %}
<div class="vote {% if not liked %}not-{% endif %}liked" data-id="{{ pk }}" data-add="{% url add-like %}" data-delete="{% url delete-like %}">
  <a href="#">Vote{% if liked %}d{% endif %}</a>
  {% csrf_token %}
{% else %}
<div class="vote" data-id="{{ pk }}">
  <a href="{% url account_login %}" class="login disabled">Login to vote</a>
{% endif %}
</div>
